<p id="notice"><%= notice %></p>
<h1>Listing Tasks</h1>
<div class="row">
  <div class="col-xs-4">Name</div>
  <div class="col-xs-4">Descriptiom</div>
  <div class="col-xs-4">Finished</div>
</div>
<% @tasks.each do |task| %>
<div class="row">
  <div is="task-row" data="<%= task.to_json %>"></div>
</div>
<% end %>

<%= link_to 'New Task', new_task_path %>
</dom-module>
